<app-header></app-header>
<div class="container">

  <div class="row">
    <div class="col-md-3">
      <app-category></app-category>

    </div>
    

  <!-- </div>
  <div class="row "> -->
    <!-- <div class="col-md-9 col-xs-12 col-md-push-3">
      <app-product></app-product>
      <app-collection></app-collection>
    </div>
    <div class="col-md-3 col-xs-12 col-md-pull-9">
      <app-offer-slider></app-offer-slider>

    </div> -->
    <!-- <app-main-page></app-main-page> -->
    <router-outlet></router-outlet>
    <!-- <div class="col-md-3">
      <app-category></app-category>
    </div> -->

    <!-- <div class="col-md-9 ">
      <app-single-product> </app-single-product>
      <app-category-product></app-category-product>


    </div> -->

  </div>
</div>
<app-footer></app-footer>