.col-md-4{
    width:30%;
}
.card{
     background:rgb(255, 255, 255);
    // margin: 5px;
    margin: 10px 20px 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    &:hover{
        box-shadow: 0 4px 8px 0 rgb(148, 143, 202), 0 6px 20px 0  rgb(148, 143, 202);
    }
.card-content{

    margin-bottom: 10px;
    img{
        max-width: 30px;
        max-height: 30px;
        margin: 2px 5px 5px 0;
  
    }
    
}
}